<!DOCTYPE HTML>
<html lang="en">
<head>
	<title>Конкурс A/V Интерьер</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />
    <meta name="description" content="Your description">
    <meta name="keywords" content="Your keywords">
    <meta name="author" content="Dmitry Shamin">
    <link rel="stylesheet" href="js/jquery-upload-file.css">

 	<link rel="stylesheet" href="css/bootstrap.css">
    <!-- font-awesome font -->
    <link rel="stylesheet" href="font/font-awesome.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/style.css">
<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow&subset=latin,cyrillic,cyrillic-ext' rel='stylesheet' type='text/css'>
   	<script src="js/include_script.js"></script>
    <!--[if lt IE 8]><div style='text-align:center'><a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://www.theie6countdown.com/img/upgrade.jpg"border="0"alt=""/></a></div><![endif]-->
  	<!--[if lt IE 9]>
        <link href='http://fonts.googleapis.com/css?family=PT+Sans:400' rel='stylesheet'/>
        <link href='http://fonts.googleapis.com/css?family=PT+Sans:700' rel='stylesheet'/>

	   	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	    <link href="css/ie.css" rel="stylesheet">
    <![endif]-->
</head>
<body>
<!--web site spinner-->
	<div id="webSiteLoader"></div>
<!--button back top-->
	<div id="back-top"></div>
<!--page spinner-->
	<div id="pageLoader"></div>
    <div id="imgSpinner"></div>
    <div id="galleryHolder">
        <div id="imageHolder">
            <img src="img/bg_pic5.jpg">
        </div>
    </div>
<!--content wrapper-->
	<div id="wrapper">
<!--header-->
                <img class="logo_img" src="img/logo_gray.png">
                <header>
        <!--logo and company name-->
                    <h1 class="brand">
                    <a class='logo_splash' href="index.html"><img src="img/logo_new.png" alt="A/V Интерьер"></a>
                    <a class='logo_page' href="index.html"><img src="img/logo2_new.png" alt="A/V Интерьер"></a>
                    </h1>
                    <div class="clerfix"></div>
                </header>

    <span class="right_con">
        <a href="http://vk.com/avinterior"><img class="soc_icon vk" src="img/vk.png"></a>
        <a href="http://www.pinterest.com/artelectronics/interior-designs-including-home-cinema/"><img class="soc_icon pin" src="img/pin.png"></a>
    </span>
    <div id="leftPanel">

        <!--menu-->
                <div class="navbar">
    			     <div class="navbar-inner">
            			<ul class="sf-menu">
            				<li><a href="index.html"><span>Главная</span><strong></strong></a></li>
            				<li><a href="konkurs.html"><span>Конкурс</span><strong></strong></a>
                                <ul class="nav sub-menu">
                                    <li><a href="zhuri.html">Жюри</a></li>
                                    <li><a href="prize.html">Призы</a></li>
                                    <li><a href="partners.html">Партнёры</a></li>
                                    <li><a href="itogi.html ">Итоги</a>
                                        <!--
                                            <ul class="nav sub-menu">
                                                <li><a href="index-6.html">gallery 1</a></li>
                                                <li><a href="index-6.html">gallery 2</a></li>
                                                <li class="last"><a href="index-6.html">gallery 3</a></li>
                                            </ul>
                                        -->
                                    </li>
                                </ul>
                            </li>
                            <li><a href="zadanie.html"><span>Задание</span><strong></strong></a></li>
                            <li><a href="programm.html"><span>Программа</span><strong></strong></a></li>
                            <li class="last"><a href="index-4.html"><span>Контакты</span><strong></strong></a></li>
            			</ul>

<div class="clearfix"></div>
<h2>8 декабря 2014 -<br>27 марта 2015</h2>
                    </div>
                </div>
                <!--footer-->


                <footer>


                     <p class="privacy">&copy; 2014 <a href="http://artelectronis.ru">Art Electronics</a></p>
                     <div class="clearfix"></div>
                     <!-- {%FOOTER_LINK} -->
                </footer>

    </div>
<!--content-->


    <div class="bg"></div>
	<section>
        <div>
            <div class="dynamicContent"></div>
        </div>
    </section>
</div>
<script src="js/bootstrap.js"></script>
<!-- coded by cactus -->
</body>
</html>
